<h1>
  検索結果
</h1>

<% if @results.lenght !=0 %>
  <% @results.each do |result| %>
    <br>
    <li>
      <%= result.name %>
    </li>
  <% end %>
<% else %>
  該当する人はいませんでした
<% end %>
<br>
<%= link_to 'トップページへ戻る', root_path %>